<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs')  %> 

    <div class="container">
        <div class="row m-4 justify-content-center">
            <div class="col-8">
                <div class="position-relative ms-3 details">
                    <h2><%= blog.title %></h2>
                    <p class="ms-3"><%= blog.body %></p>
                    <a href="/blogs/edit/<%= blog._id %>" class="border border-success text-success rounded-circle" ><i class='bx bxs-edit-alt bx-sm'></i></a>
                    <button class="delete btn btn-outline-danger" data-doc="<%= blog._id %>"><i class='bx bxs-trash bx-sm'></i></button>
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs')  %> 

    <!-- this runs on the website not the server "the Script tag"  -->
    <script src="/js/details.js"></script>
</body>
</html>