<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs')  %> 

    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto mt-4">
                <div class="card shadow">
                    <div class="card-header bg-warning-subtle">
                        <h3>Edit blog</h3>
                    </div>
                    <div class="card-body p-4">
                        <form action="/blogs/edit/<%= blog._id %>" method="POST">
                            <%- include('./partials/form.ejs')  %>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs')  %> 

    <!-- in order to attach the data to the body of the post request
    we need the NAME attribute -->
</body>
</html>