<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs')  %> 

    <div class="container">
        <div class="row m-4">
            <div class="col blogList">
                <% if(blogs.length > 0){%>
                    <h1 class="mb-4">My Posts:</h1>

                    <% blogs.forEach(blog => {  %> 
                        <a href="/blogs/<%=blog._id%>" class="d-block border my-2 p-3">
                            <h3 class='text-dark'> <%= blog.title %></h3>
                            <p class='text-dark'> <%= blog.snippet %> </p>
                        </a>
                        <br>
                    <% }) %> 

                    <div class="d-grid gap-2 col-4 mx-auto">
                        <a href="/blogs/deleteAll"  class="btn btn-danger">Delete All Blogs</a>
                    </div>
                <% } else {%>
                    <div class="alert alert-danger" role="alert">
                        No blogs on the MongoDB . . . Go and Add a new Blog!
                    </div>
                <% } %> 
            </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs')  %>
</body>
</html>